body{
    font-family: 'Viaoda Libre', cursive;
    margin-top:0;
    margin-bottom:0;
    margin-left:10%;
    margin-right:10%;
}
.photo{
  width:30%; 
  height:30%;
  border-radius: 3%;
  max-width:100%;
  display:block;
  margin-right:10px;
  float:right;
  margin-top:1%;
}
.photo1{
    width:32%; 
    height:32%;
    border-radius: 3%;
    max-width:100%;
    display:block;
    margin-right:0.2px;
    float:right;
    margin-top:1%;
}
.photo2{
  width:40%; 
  height:40%;
  border-radius: 3%;
  max-width:100%;
  display:block;
  margin-left:12%;
  float:left;
  margin-top:1%;
}
h1, h2{
    text-align:center;
    color:rgb(95, 3, 95);
}
h1{
    font-size:7vw;
    margin-top: 0.2%;
}
h2{
    font-size:5vw;
}
#menu ul{
    list-style-type: none;
    padding:0.001%;
}
#menu li{
    display:inline;
    float:left;
    font-size: 1.2vw;
}
#menu a:link, #menu a:visited{
    text-decoration:none;
    font-weight: bold;
    color:rgb(95, 3, 95);
}
#menu nav a:link, #menu nav a:visited{
    display: block;
    max-width: 100%;
    width:13vw;
    text-align: center;
    padding: 10px 0;
}
#menu nav a:hover{
  color:black;
  font-weight: bolder;
}

.navig{
    background-color: black;
    overflow:hidden;
    width:100%;
}
.navig a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 0%;
    text-decoration: none;
    font-size: 17px;
    width:16.666666666666%;
  }
.navig a:hover {
    background-color: rgb(95, 3, 95);
    color: white;
    font-weight: bolder;
  }
.navig a.active {
    background-color: rgb(95, 3, 95);
    color: white;
  }
  .navig .icon {
    display: none;
  }
  @media screen and (max-width: 1300px) {
    .navig a:not(.active) {display:none;}
    .navig a.icon {
      float: right;
      display: block;
    }
  }
  @media screen and (max-width: 1300px) {
    .navig.responsive {position: relative;}
    .navig.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
      margin-right:-90.7%;
    }
    .navig.responsive a {
      float: none;
      display: block;
      text-align:left;
      width:100%;
      padding-left:3.2%;
    }
  }
footer{
  position:bottom;
  bottom:0;
}
#lang{
  float:right;
  margin-right:3%;
  color:rgb(95, 3, 95);
  font-weight:bolder;
  font-size:1.2vw;
}
.pick{
  block-size: 1.5vw;
}
#ux{
  float:left;
  margin-left:4.65%;
  color:black;
  font-weight: bold;
  font-size:1.2vw;
}
ul{
  list-style-type: none;
}
#contacts li{
  font-size:2vw;
  font-weight: bolder;
}
.moreicon{
  height:2vw;
  width:2vw;
}
#contacts{
  position:relative;
  margin-left: 55%;
  margin-top:3%;
}
h3{
  font-size:3vw;
  font-weight:bolder;
  margin-left:17%;
  margin-top:-13%;
  color:rgb(95, 3, 95);
}
.h41{
  font-size:1.5vw;
  font-style:italic;
  margin-left:17%;
  margin-top:-4.2%;
  color: rgb(95, 3, 95);
}
.h42{
  font-size:1.5vw;
  font-style:italic;
  margin-left:17%;
  margin-top:-2.8%;
  color: rgb(95, 3, 95);
}
.worklogo{
  height:12vw;
  width:12vw;
  border-radius: 3%;
}
#more, #more2, #more3, #more4, #more5{
  display: none;
  text-align:justify;
}
.info{
  margin-left:60%;
  margin-top:-11.2%;
  font-size: 1.5vw;
  text-align:justify;
  font-weight: bold;
}
#myBtn, #myBtn2, #myBtn3, #myBtn4, #myBtn5{
  font-size: 1vw;
  margin-left: 25%;
  background-color:rgb(95, 3, 95);
  color:white;
  font-weight:bold;
  border:none;
  width:30%;
}
#myBtn:hover, #myBtn2:hover, #myBtn3:hover, #myBtn4:hover, #myBtn5:hover{
  background-color: rgb(55, 3, 55);
}
#extra{
  margin-top:-2.8%;
  font-weight: bolder;
}
@media screen and (max-width: 1300px){
  #experience{
    display:table;
    margin-left:0;
    width:100%;
  }
  .info{
    margin-top:-18%;
  }
}
@media screen and (max-width:1300px) and (orientation:portrait){
  body{
    margin-left:1%;
    margin-right:1%;
  }
  #menu nav{
    width:100%;
    margin-right:0;
  }
}
@media screen and (max-width:1300px) and (orientation:landscape){
  .info p{
    top:10%;
  }
}